@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto Mono';
}
.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}
.counter{
    font-size: 60px;
    margin-top: 10px;
}
@media (max-width:580px) {
    body{
        flex-direction: column;
    }
}