* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
body {
  background-color: #686de0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px;
  align-items: center;
  max-width: 100%;
}
h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}
.joke {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 20px auto;
  max-width: 600px;
}
.btn {
  color: #fff;
  background-color: #9f68e0;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn:active {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
